@model List<CheckBoxListDemo.Models.FacilityVM>

@{
    ViewBag.Title = "Create";
    int selectedRoomTypeId = ViewBag.SelectedRoomTypeId;
}

<h2>Create</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>RoomTypeFacilityVM</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <table id="tblFacility">
            <tr>
                <td>Room Type: </td>
                <td>@Html.DropDownList("RoomTypes", null, htmlAttributes: new { @class = "form-control" })</td>
            </tr>

            <tr>

            </tr>

                @{ Html.RenderAction("_LoadFacility", new { roomTypeId = selectedRoomTypeId }); }

            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Create" class="btn btn-default" />
                </td>
            </tr>

        </table>
    </div>

                }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {

            $('#RoomTypes').change(function () {
                var selectedRoomTypeId = $('#RoomTypes').val();
                $('.chkList').hide();
                var url = "@Html.Raw(Url.Action("_LoadFacility", "RoomTypeFacility", new { roomTypeId = "-parameter"}))";
                url = url.replace("-parameter", selectedRoomTypeId);
                $("#tblFacility tr").eq(1).load(url);
            });

        });

    </script>

}
