@model DemoDatePicker.Models.zClass

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>zClass</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.zId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.zId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.zName, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.zDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.zDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.zDate, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker2'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker2').datetimepicker();
                });
            </script>
        </div>


        <div class='col-sm-6'>
            <input type='text' class="form-control" id='datetimepicker4' />
        </div>

        <script type="text/javascript">
            $(function () {
                //$('#datetimepicker4').datetimepicker().on('change', function () {
                //    $('#datetimepicker4').hide();
                //    //$(this).datepicker('hide');
                //});

                $('#datetimepicker4').datetimepicker({
                    format:"DD/MM/YYYY"
                }).on('dp.change', function (e) {
                    $(this).data('DateTimePicker').hide();
                });
            });

        </script>

        <div class="form-group input-group-sm ">
            @Html.LabelFor(model => model.zDate)
            @Html.TextBoxFor(model => model.zDate, new { @class = "form-control datepicker", placeholder = "Enter Drop-off date here..." })
            @Html.ValidationMessageFor(model => model.zDate)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datetimepicker();//Initialise any date pickers
    });
</script>